body {
    background: linear-gradient(142deg, #FF009A 0%, #FF54D8 17%, #FF009A 27%, #FF33D1 30%, #F113C7 32%, #FF02D3 34%, #FF009A 40%, #e9bce9 100%);
}
body {
    font-size: 1.4rem;
  }
.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: blue;
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: darkgray;

}
.sidebar {
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, #FF009A 0%, #FF54D8 17%, #FF009A 27%, #FF33D1 30%, #F113C7 32%, #FF02D3 34%, #FF009A 40%, #e267bd 100%);
}
.card { 
    background: linear-gradient(220deg, #FF009A 0%, #FF54D8 17%, #FF009A 27%, #FF33D1 30%, #F113C7 32%, #FF02D3 34%, #FF009A 40%, #fff 100%);
}

.slide-text {
    color: rgb(255, 255, 255);
    margin: auto
}

